body{
	background:#252525;
}
.Wrapper{
	display: inline-block;
	margin: 48px;
}
.Board, .Captured > div{
	box-shadow: 0 8px 0 0 #111111, 0 8px 2px 0 #111111AA, 0 8px 4px 0 #111111AA, 0 8px 16px 0 #111111AA;
	border-radius: 2px;
}
.Piece{
	margin:auto;
	margin-top:2px;
	box-shadow:0 2px 0 0 #444444, 0 2px 2px 0 #111111AA, 0 2px 4px 0 #111111AA;
	border-radius:2px;
}
.Piece.player1{
	background-color:lightgrey;
	box-shadow:0 2px 0 0 grey, 0 2px 2px 0 #111111AA, 0 2px 4px 0 #111111AA;
}
.Piece.player2{
	background-color:grey;
	box-shadow:0 2px 0 0 #444444, 0 2px 2px 0 #111111AA, 0 2px 4px 0 #111111AA;
}
.ValidMove{
	border-color:#ffd11aff;
}